<app-navbar></app-navbar>
<router-outlet></router-outlet>
 

<h6 style="margin: 2rem;">App Component</h6>
<div style="border: 2px solid black;margin: 2rem;padding: 2rem;">

    <h6 style="margin: 2rem;">Users Component</h6>
    <div *ngIf="show" style="margin: 2rem;padding: 2rem;display: flex">

        <app-users *ngFor="let user of users" [name]="user.name" [age]="user.age" [status]="user.status"
            [salary]="user.salary" [imagePath]="user.imagePath" (childDataEvent)="getDataFromChildEvent($event)">
            <h5>Header</h5>
            <h6>Footer</h6>
            <input type="text" [(ngModel)]="users[0].name" />
        </app-users>
    </div>

    <!-- <app-users name="Ankit" age="25" status="IT Consultant" salary="37500"></app-users>
    <app-users name="Suraj" age="23" status="IT Consultant" salary="37500"></app-users> -->

    <!-- <app-users
    [name]="users[0].name"
    [age]="users[0].age"
    [status]="users[0].status"
    [salary]="users[0].salary"
    [imagePath]="users[0].imagePath" 
    ></app-users>

    <app-users
    [name]="users[1].name"
    [age]="users[1].age"
    [status]="users[1].status"
    [salary]="users[1].salary"
    [imagePath]="users[0].imagePath" 
    ></app-users>

    
    <app-users
    [name]="users[2].name"
    [age]="users[2].age"
    [status]="users[2].status"
    [salary]="users[2].salary"
    [imagePath]="users[0].imagePath" 
    ></app-users> -->


    <button class="btn" (click)="show =!show">Show</button>


</div>

<div style="border: 2px solid black;margin: 2rem;padding: 2rem;">
    <h5>PIPES</h5>
    <H6>{{phone | cc:"IN"}}</H6>
    <H6>{{phone | cc}}</H6>
</div>


<div style="border: 2px solid black;margin: 2rem;padding: 2rem;">
    <h5>HttpClientModule</h5>
    <app-joke></app-joke>
</div>

<div style="border: 2px solid black;margin: 2rem;padding: 2rem;">
    <h5>Services Advanced</h5>
    <app-component-a></app-component-a>
    <app-component-b></app-component-b>
</div>

<div style="border: 2px solid black;margin: 2rem;padding: 2rem;">
    <h5>Login - Reactive Form</h5>
    <app-login></app-login>
</div>

<div style="border: 2px solid black;margin: 2rem;padding: 2rem;">
    <h5>Register - Template Driven Form</h5>
    <app-register></app-register>
</div>